/* Body */
body{
    margin: 0;
    padding: 0;
}

/* Landing -section */
.landing-section{
    background: #1AC073;       
    width: 100%; 
    min-height: 800px;
    color: #fff;  
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1162.66px;
    min-height: 76.5px;
    position: relative;
    left: 131.5px;
    align-items: center;
}
.header .item-1{
    display: flex;
    justify-content: space-between;
    width: 827px;
}
.header .logo{
    /* JTGeats */
    
    width: 89px;
    height: 20px;
    

    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    /* identical to box height, or 62% */

    letter-spacing: -0.012em;

    color: #FFFFFF;
    margin: 0;
}

.header .nav{
    margin: 0;
    display: flex;
    justify-content: space-between; 
    /*position: relative;
    left: 559px;
    top: 7px; */
    width: 399.5px;
    height: 20px;
    
    
}
.nav p{
    letter-spacing: 0.012em;
    font-family: 'Roboto';
    font-weight: 400;
    /* font-size: 1.2vw; */
    font-size: 18px;
    margin: 0;
}
.header .item-2{
    display: flex;
    justify-content: space-between;
    width: 78px;
    height: 24px;
    /* position: absolute;
    left: 1217px;
    top: 27px; */
}
.header .nav-search{
    margin: 0;
    
    width: 21px;
    height: 21px;
    /* White */

    /* border: 2px solid #FFFFFF; */
    /* z-index: 100; */
    
    /* margin: 0 20px; */
}
#open {
    margin: 0;
    padding: 0;
    border: 0;
    width: 17.66px;
    height: 14px;
    /* position: absolute;
    left: 1269.5px;
    top:25px; */
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin-right: 8px;
}
.modal-container {
    font-family: 'Roboto';
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 4429px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
.modal {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    
    align-items: center;
    padding: 346px 241px;
    gap: 55px;

    position: relative;
    width: 855px;
    height: 461px;
    left: 52px;
    top: 117px;
    background: #F7F8FA;
    border-radius: 20px;
    /* z-index: 100; */
}

.modal img{
    width: 310px;
    height: 225px;
    position: relative;
    left: 272px;
    color:  #EDEDED;
    /* border: 28px solid #EDEDED; */
}

.modal h1{
    /* position: relative;
    left: 29px;
    top: 36px; */
    position: relative;
    left: 307px;
    top: 50px;
    width: 241px;
    height: 37px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 20px;
    /* or 50% */

    letter-spacing: -0.012em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin: 0;
}
.modal p{
    /* Add some items to the cart to checkout */
    /* position: relative;
    left: 0;
    top: 0; */
    position: relative;
    left: 214px;
    top: 61px;
    margin: 0;
    width: 425px;
    height: 21px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    /* or 83% */

    letter-spacing: -0.012em;

    color: #AAA7A7;


    /* Inside auto layout */

    /* flex: none;
    order: 1; */

}

.modal button{
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
    /* align-items: flex-start; */
    position: relative;
    left: 322px;
    top: 117px;
    padding: 19px 25px;
    /* gap: 10px; */

    border: 0;
    width: 210px;
    height: 58px;

    background: #1AC073;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* White */

    color: #FFFFFF;

}
.main-landing-section{
    position: relative;
    left: 132px;
    top: 159px;
    max-width: 1163.63px;
    min-height: 560px;
    display: flex;
    justify-content: space-between;
}
.main-landing-section .info{
    
    max-width: 720px;
    min-height: 560px;
    margin: 0;
}
.main-landing-section .img-cook{
    max-width: 720px;
    min-height: 560px;
    margin: 0;
    /* padding: 159px 0 0 108px; */
}
.img-cook img{
    max-width: 521.63px;
    max-height: 525px;
}

.info .large{
    position: relative;
    top: 11px;
    /* left: 132px; */
    /* top: 170px; */
    max-width: 534px;
    min-height: 147px;
    margin: 0;
}

.large p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    /* White */

    color: #FFFFFF;
    margin: 0;
    
}
.info .small{
    position: relative;
    top: 26px;
    max-width: 441px;
    min-height: 40px;
}
.small p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.012em;
    
    margin: 0;
}
.main-landing-section .search-food{
    position: relative;
    top: 68px;
    display: flex;
    justify-content: space-between;
    width: 398px;
    height: 58px;
    

    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    letter-spacing: -0.012em;

    /* Text/black caption */
    text-align: center;
    /* align-items: center; */

    
}
.search-food .wide{
    width: 179px;
    height: 58px;
    color: #929292;
    margin: 0;
    
}
.wide p{
    position: relative;
    top: 4px;
    margin-top: 12px;
}
.search-button p{
    /* text-align: center; */
    position: relative;
    top: 4px;
    margin-top: 12px;
}
.main-landing-section .search-button{
    width: 112px; 
    height: 58px;     
    background: #F3BA00;
    border-radius: 0px 10px 10px 0px;
}


/* .main-landing-section .img-cook{
    position: relative;
    left: 54px;
    top: 159px;
    width: 464.95px;
    height: 355.97px;
} */


/* Kitchen Section */

.kitchen-section{
    background: #F7F8FA;
    width: 100%;
    min-height: 2029px;
    font-family: 'Roboto';
}

.kitchen-section .title{
    color: #000000;

    width: 250px;
    height: 24px;

    position: relative;
    top: 106px;
    left: 130px;
    bottom: 1900px;

   
    margin: 0;
}
.title h1{
    margin: 0;
    font-style: normal;
    font-weight: 900;
    /* font-size: 2.5rem; */
    line-height: 24px;
    /* letter-spacing: -0.0em; */

    font-size: 40px;
    line-height: 24px;
     
    letter-spacing: -0.012em;

}
.kitchen-section .column{
    display: flex;          /*creates columns*/
    justify-content: space-between;   /*space b/w card*/
    flex-wrap: wrap;
    max-width: 1180px;
    position: relative;
    top: 128px;
    left: 130px;
    /* margin: 1em 0 0 0; */
    
}


/* cards */
.column .card{
    width: 277px;
    height: 337px;
    margin: 40px 0 0 0;
    /* margin: 0 0 0 1.5em; */
}
/* Top of Card */
.card .img-card{
    height: 250px;
    
}
.img-card img{
    width: 277px;
    height: 250px;
    
}
/* Description of card */
.card .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding: 20px 24px; */
    gap: 10px;

    position: absolute;
    width: 277px;
    height: 87px;

    /* White */

    background: #FFFFFF;
    box-shadow: 0px 0px 1px rgba(187, 187, 187, 0.25);
    border-radius: 0px 0px 10px 10px;
    
}
/*  mid if card */
.top .price{
    padding-left: 213px;
   
}
.top p{
    position: absolute;
    top: 15.5px;
    left: 15.7px;
    display: inline;
    margin: 0;
    width: 127px;
    height: 20px;

    
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* Text/Black Body caption */

    color: #1B1C21;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    /* padding: 15.5px; */
    
}
/* bottom of card */
.description .bottom{
    position: absolute;
    top: 45px;
    left: 15.5px;
    margin: 0;
    
}
.rating p{
    margin: 0;
    /* width: 17px; */
    height: 20px;

    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: -0.012em;

    /* Text/Black Body caption */

    color: #1B1C21;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.bottom .rating{
    background: #F7F8FA;
    position: absolute;
    left: 0px;
    top: 7px;
    width: 45px;
    height: 20px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 4px; */
    gap: 4px;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    
}
.time p{
    margin: 0;
    
}

.bottom .time{
    position: absolute;
    left: 50.5px;
    top: 7.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    gap: 4px;

    width: 62px;
    height: 20px;

    background: #BEBEBE;
    /* Normal outer */

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    
    
}
.min{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 0px 4px; */
    gap: 4px;

    width: 62px;
    height: 20px;

    background: #F7F8FA;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.min p{
    /* width: 30px; */
    height: 20px;

    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 400px;
    font-size: 0.75rem;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: -0.012em;

    /* Text/Black Body caption */

    color: #1B1C21;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
   
}
.bottom img{
    width: 22px;
    height: 20px;
    border-radius: 5px;
    /* background: #F3BA00; */
    position: relative;
    left: 219px;
    top: 7px;
    
}

/* carousel */
.popular-items-section{
    width: 1400px;
    position: relative;
    top: 317px;
    left: 40px;
}


/* .hov-arrow-prev:hover{
    opacity:1;
    
} */

/* Request a dish */
#opened{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 25px;
    gap: 10px;

    position: relative;
    width: 210px;
    height: 48px;
    left: 574px;
    top: 91px;

    background: #1AC073;
    border-radius: 10px;

    /* border: 0; */
    /* width: 106px;
    height: 20px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* White */

    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.modal-request-a-dish{
    font-family: 'Roboto';
    background: rgba(0, 0, 0, 0.35);
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 4429px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.modal-request-a-dish.showed{
    pointer-events: auto;
    opacity: 1;
}

.modal-request{
    position: absolute;
    width: 1336px;
    height: 647px;
    left: 52px;
    top: 107px;

    background: #F7F8FA;
    border-radius: 20px;
}

.modal-request h1{
    /* Request a Dish */


    position: absolute;
    width: 264px;
    height: 20px;
    left: 536px;
    top: 83px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 20px;
    /* identical to box height, or 50% */

    letter-spacing: -0.012em;

    color: #000000;
    margin: 0;
}

.modal-request .detail{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 438px;
    height: 181px;
    position: relative;
    left: 105px;
    top: 213px;
}
.name p, .upload-image p{
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #474747;
    margin-bottom: 7px;
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 16px; */
    gap: 10px;

    /* position: absolute; */
    width: 1127px;
    height: 48px;
    /* left: 0.5px;
    top: 22px; */

    background: #F2F2F2;
    border-radius: 10px;
}

.box p{
    width: 141px;
    height: 16px;
    margin-left: 17px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #9E9E9E;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.modal-request .button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 450px;
    height: 58px;

    position: relative;
    left: 442px;
    top: 334px;
}
.closed-btn{
    
    padding: 19px 25px;
    gap: 10px;

    width: 210px;
    height: 58px;

    background: #1AC073;
    border-radius: 10px;
    border-color: #1AC073;
    /* Inside auto layout */
    columns: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    

}


.white-bg{
    background: #F7F8FA;
    font-size: 15px;
    font-weight: 700;
    padding-top: 18px;
    padding-left: 25px;
    letter-spacing: -0.012em;
    color: #1AC073;
}
#submit{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    padding-top: 18px;
    padding-left: 25px;
    letter-spacing: -0.012em;

}







/* service-section */
.service-section{
    width: 100%;
    height: 516px;
    margin: 0;
    background: #FAFAFA;
    
    /* background: red; */
}
.service-section .text{
    margin: 0;
    max-width: 885px;
    min-height: 164px;
    text-align: center;
    position: relative;
    left: 275px;
    top: 82px;
    
}
.text .large{
    padding-left: 67px;
    /* width: 100%; */
    text-align: center;
    margin: 0;
    max-width: 750px;
    min-height: 114px;

    /* position: relative;
    top: 0.15em;
    left: 1.4em; */
    /* h2 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    /* font-size: 40px; */
    line-height: 57px;
    /* or 142% */

    
    letter-spacing: 0.21px;

    /* text-color */

    color: #252B42;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.text .small{
    max-width: 447px;
    min-height: 40px;

    /* paragraph */
    position: relative;
    left: 220px;
    top: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
    
}
.color-change{
    width: 100%;
    min-height: 344px;
    /* position: relative;
    top: 5.5px; */
    background: #C7EACC;
    /* background: red; */
    margin: 0;
    z-index: -1;
}
.c-videos{
    max-width: 878px;
    height: 442px;
    /* background: red; */
    position: relative;
    left: 17.5em;
    top: 8.2em;
    z-index: 0;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}
/* video{
    margin: 0;
} */
.c-videos:hover .controls{
    transform: translateY(0);
}
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0);
    transform: translateY(100%);
    transition: all 0.01s;
}
.buttons button{
    width: 878px;
    height: 442px;
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
}
/* .buttons button:before{
    content: "\f144";
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
} */
/* .buttons button.play:before{
    content: "\f144";
}
.buttons button.play:before{
    content: "\f28b";
} */

/* Contact-us-section */

.contact-us-section{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 603px;

    background: #F7F8FA;
    
}
.contact-us-section .form{
    position: relative;
    left: 129.5px;
    top: 100px;
    
}
.text .lg{
    margin: 0;
    margin-bottom: 5px;
    width: 286px;
    height: 48px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */

    letter-spacing: -0.012em;

    /* Text/Black Heading title */

    color: #101115;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.text .sm{
    margin: 0;
    margin-bottom: 30px;
    width: 317px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    letter-spacing: -0.012em;

    /* Text/Black Body caption */

    color: #1B1C21;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.form .personal-detail{
    width: 616px;
    height: 58px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 25px;
    
}
.personal-detail .name{
    margin: 0;
    width: 300px;
    height: 58px;
    /* White */

    background: #FFFFFF;
    /* Normal outer */

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.personal-detail .e-mail{
    margin: 0;
    width: 300px;
    height: 58px;
    /* White */

    background: #FFFFFF;
    /* Normal outer */

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.personal-detail .name p{
    margin: 0;

    position: relative;
    width: 78px;
    height: 20px;
    left: 22px;
    top: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* Text/black caption */

    color: #929292;
   
}

.personal-detail .e-mail p{
    margin: 0;
    position: relative;
    width: 78px;
    height: 20px;
    left: 22px;
    top: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* Text/black caption */
    color: #929292;
    
}

.form .message{
    margin: 0;
    margin-bottom: 22px;
    width: 617px;
    height: 164px;
    /* White */

    background: #FFFFFF;
    /* Normal outer */

    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}

.message p{
    margin: 0;
    position: relative;
    width: 100px;
    height: 20px;
    left: 22px;
    top: 19px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* Text/black caption */

    color: #929292;
    
}

.form .btn-submit{
    /* Button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: flex-start;
    /* padding: 19px 25px; */
    gap: 10px;

    position: relative;
    width: 210px;
    height: 58px;
    /* left: -0.5px; 
    top: 269px; */

    background: #1AC073;
    border-radius: 10px;
    
}
.btn-submit p{
    position: relative;
    left: 80px;
    top: 19px;
    
}
.btn-submit p{
    margin: 0;
    width: 50px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    letter-spacing: -0.012em;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.contact-us-section .image{
    position: relative;
    top: 100.5px;
    left: 191px;
   
}

/* footer */

.footer{
    display: flex;
    width: 100%;
    height: 137px;
    background: #1AC073;
    margin: 0;
    
}

.footer .footer-logo{
    position: relative;
    left: 129px;
    top: 38px;
    margin: 0;
    width: 89px;
    height: 20px;

    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 20px;
    /* identical to box height, or 62% */

    letter-spacing: -0.012em;

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}

.footer .footer-nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 440px;
    top: 39px;
    margin: 0;
    width: 399px;
    height: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */

    letter-spacing: -0.012em;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    
}
.footer-nav p{
    margin: 0;
    
}
.footer .social{
    width: 27.15px;
    height: 25.33px;
    display: flex;
    justify-content: space-between;
    width: 68.15px;
    position: relative;
    top: 37px;
    left: 755px;
    
}

.footer .line{
    margin: 0;
    width: 1180.5px;
    height: 0px;

    /* White */
    /* background: #FFFFFF; */
    border: 0.1px solid #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0; 

    position: absolute;
    left: 127px;
    top: 4380px;
    
}

@media (min-width:1051px) and ( max-width: 1325px) {
    
    .main-landing-section{
        max-width: 900px;
        top: 50px;
        /* flex-direction: column; */
    }
    .header, .service-section .text, .service-section .c-videos{
        left: auto;
    }
    /* .search-button{
        margin-left: 5px;
    } */
    .main-landing-section .info{
        flex-direction: column; 
        min-height: 350px;
    }
    .img-cook img{
        width: 500px;
        height: auto;
    }
    /* .c-videos{
        max-width: 702.396px;
        height: 353.6;
    } */
}

@media ( max-width: 1050px) {
    .main-landing-section{
        flex-direction: column;
        max-width: 534px;
    }
    .main-landing-section .img-cook,.main-landing-section .info{
        align-items: center;
        text-align: center;
    }
    .small {
        margin: auto;
    }
    .img-cook img{
        width: 400px;
        height: auto;
    }
    .header, .main-landing-section,  .service-section .text, .service-section .c-videos{
        left: auto;
    }
    /* .c-videos{
        max-width: 585.33px;
        height: 170px;
    } */
    .search-food{
        left: 50px;
    }
}